<div class="card-show">
  <div id="<%= player_selection[0].id %>" class="card-id">
    Shape: <%= player_selection[0].shape %><br>
    Shading: <%= player_selection[0].shading %><br>
    Color:  <%= player_selection[0].color %><br>
    Number: <%= player_selection[0].number %><br>
  </div>
</div>
<div class="card-show">
  <div id="<%= player_selection[1].id %>" class="card-id">
    Shape: <%= player_selection[1].shape %><br>
    Shading: <%= player_selection[1].shading %><br>
    Color:  <%= player_selection[1].color %><br>
    Number: <%= player_selection[1].number %><br>
  </div>
</div>
<div class="card-show">
  <div id="<%= player_selection[2].id %>" class="card-id">
    Shape: <%= player_selection[2].shape %><br>
    Shading: <%= player_selection[2].shading %><br>
    Color:  <%= player_selection[2].color %><br>
    Number: <%= player_selection[2].number %><br>
  </div>
</div>
