<!DOCTYPE html>
<html>
  <head>
    <title>SetGame</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="nav">
      <nav>
        <% if current_user %>
          Signed in as <a href="/users/<%= current_user.id %>"><%= current_user.username %></a> | <%= link_to "Logout", '/logout' %>
        <% else %>
          <%= link_to 'Login', '/login' %> | <%= link_to 'Register', '/users/new' %>
        <% end %>
        | <%= link_to 'Main', '/decks' %>
      </nav>
    </div>
    <%= yield %>
  </body>
</html>
